!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = "#{yield(:title)} | Ruby on Rails Tutorial Sample App"

    = render 'layouts/rails_default'
    = render 'layouts/shims'
  %body
    =render 'layouts/header'
    .container
      yeah!
      = render 'shared/flash_message'

      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
